<li>
  <a class="<%= link_class %>" href="https://www.facebook.com/websitewizardguy" target="_blank">
    <%= image_tag 'icons/facebook-icon.png', title: 'Facebook', 'data-toggle'=>'tooltip', 'data-placement'=>tooltip_pos %>
  </a>
</li>
<li>
  <a class="<%= link_class %>" href="https://www.linkedin.com/in/websitewizardguy" target="_blank">
    <%= image_tag 'icons/linkedin-icon.png', title: 'Linkedin', 'data-toggle'=>'tooltip', 'data-placement'=>tooltip_pos %>
  </a>
</li>
<li>
  <a class="<%= link_class %>" href="https://twitter.com/webwizguy" target="_blank">
    <%= image_tag 'icons/twitter-icon.png', title: 'Twitter', 'data-toggle'=>'tooltip', 'data-placement'=>tooltip_pos %>
  </a>
</li>
<li>
  <a class="<%= link_class %>" href="https://github.com/websitewizardguy" target="_blank">
    <%= image_tag 'icons/github-icon.png', title: 'Github', 'data-toggle'=>'tooltip', 'data-placement'=>tooltip_pos %>
  </a>
</li>
<li>
  <a class="<%= link_class %>" href="https://bitbucket.org/websitewizardguy" target="_blank">
    <%= image_tag 'icons/bitbucket-icon.png', title: 'Bitbucket', 'data-toggle'=>'tooltip', 'data-placement'=>tooltip_pos %>
  </a>
</li>